@import "common.scss";

header.header {
    // @include titleImage;
    position: absolute;
    left: 0;
    z-index: 2;
    width: 200px;
    height: 80%;
    .title {
        @include titleFont;
    }

    ul {
        height: 100%;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        z-index: 3;
        li {
            margin: 20px 0;
            $lineHeight: 4rem;
            width: 8rem;
            height: $lineHeight;
            line-height: $lineHeight;
            text-align: center;
            background: url(../assets/img/dashboard.png) no-repeat center;
            background-size: cover;
            a {
                text-decoration: none;
                color: #ffffff;
            }
            a :active {
                color: red;
            }
        }
    }
    .logo {
        @include logoStyle;
    }
}
